spring:
  datasource:
    url: ${DATABASE_URL}
    username: ${DATABASE_USERNAME}
    password: ${DATABASE_PASSWORD}
  
  jpa:
    show-sql: false

logging:
  level:
    com.daboerp.gestion: INFO
    org.springframework: WARN

server:
  error:
    include-stacktrace: never
